@font-face {
    font-family: "Racama";
    src: url("fonts/Racama-U.otf") format("otf"),
    url("fonts/Raccama-U.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p {
text-align: center;
font-size: 35px;
font-family: 'Russo One', sans-serif;
}

.buttons {
display: flex;
justify-content: center;
}

a {
display: inline-block;
margin: 15px;
text-decoration: none;
color: black;
font-family: 'Russo One', sans-serif;
}

a {
	color: black; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

div.text_about_us {
margin-left: 20%;
margin-right: 20%;
display: block;
font-size: 21px;
font-family: 'Racama';
}


img {
display: flex;
float: right;
width: 35%;
height: 35%;
}