<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "static/css/Style1.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Ricky Sneaker</title>
    <p class="main_title">Ricky Sneaker</p>
    <nav class="buttons">
            <div class="wrapper">
                <a href="#"><span>Главная</span></a>
            </div>
            <div class="wrapper">
                <a href="#"><span>Каталог</span></a>
            </div>
            <div class="wrapper">
                <a href="#"><span>Доставка</span></a>
            </div>
            <div class="wrapper">
                <a href="#"><span>Контакты</span></a>
            </div>
    </nav>
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>